<div class="container pl-4 pt-4 pr-0 mb-5">

  <h4 class="title-color">Contacto</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fas fa-phone fa-3x "></i>
    </div>

    <div class="col-10 ml-2 d-flex align-items-center">
      <h5 class="title-color">+58 424-9383599</h5>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fas fa-envelope-open-text fa-3x"></i>
    </div>

    <div class="col-10 ml-2 d-flex align-items-center">
      <h5 class="title-color">hernandezleonardo085@gmail.com</h5>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fab fa-behance fa-3x" aria-hidden="true"></i>
    </div>
    <div class="col-10 ml-2 d-flex align-items-center">
      <a target="_blank" href="https://behance.net/lyonincode">
        <h5 class="title-color">https://behance.net/lyonincode</h5>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fab fa-linkedin-in fa-3x"></i>
    </div>
    <div class="col-10 ml-2 d-flex align-items-center">
      <a target="_blank" href="https://linkedin.com/in/lyonproducertv">
        <h5 class="title-color">https://linkedin.com/in/lyonproducertv</h5>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fab fa-3x fa-github"></i>
    </div>
    <div class="col-10 ml-2 d-flex align-items-center">
      <a target="_blank" href="https://github.com/lyonproducer">
        <h5 class="title-color">https://github.com/lyonproducer</h5>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-1" style="color:#005360;">
      <i class="fas fa-globe-americas fa-3x"></i>
    </div>
    <div class="col-10 ml-2 d-flex align-items-center">
      <h5 class="title-color">Edo. Bolivar, Puerto Ordaz, Venezuela</h5>
    </div>
  </div>

</div>