<div class="p-0 d-none d-block d-sm-none" >
  <app-cover-profile></app-cover-profile>
</div>

<div class="container animated fast fadeIn pl-4 pt-4 pr-4">

  <h4 class="title-color">Perfil</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <p class="title-color text-justify mt-2">
    Soy Leonardo Hernández, bachiller de la República Bolivariana de Venezuela y estudiante de ultimo ciclo de
    ingeniería en informática. Mis intereses y actividades destacadas son la producción musical, diseño gráfico,
    desarrollo de aplicaciones de escritorio y web. Soy responsable con las actividades pendientes y suelo integrarme
    con facilidad a cualquier equipo de trabajo.
  </p>

  <p class="title-color text-justify">
    Considero bastante oportuno e interesante comenzar a laborar en el ámbito en el que me he estado formando los
    ultimos años al cumplir con mi carrera universitaria y así, poder desempeñar todo lo que he aprendido hasta la
    fecha.
  </p>

  <br>
  <h4 class="title-color">Educación</h4>

  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class=" title-color">
    <div class="card-body d-flex justify-content-start">

      <img class="" src="assets/img/lourdes_logo.jpg" alt="" height="100px">

      <div class="ml-3">
        <p class="card-text font-weight-bold">Nuestra Señora de Lourdes - Bachiller</p>
        <p>
          La Unidad Educativa “Nuestra Señora de Lourdes” se encuentra constituida por diferentes instalaciones, construidas con el fin de proporcionar una adecuada enseñanza y preparación tanto educativa, como moral y ciudadana; con el fin de que los estudiantes Lourdistas reciban aprendizaje sobre diferentes ámbitos y logren emplear sus conocimientos adquiridos.
        </p>

        <div class="row d-flex justify-content-end">
          <div class="col-sm-4 col-lg-9"></div>
          <div class="col-sm-8 col-lg-3" style="background-color: #426A8C;">
            <p class="m-0 text-white text-right">2007 - 2014</p>
          </div>
        </div>
      </div>

    </div>

    <div class="card-body d-flex justify-content-start">

      <img class="" src="assets/img/uneg.png" alt="" height="100px">
      <div class="ml-3">
        <p class="card-text font-weight-bold">Universidad Nacional Experimental de Guayana - Universidad</p>
        <p>Universidad Venezolana, nacida el 18 de marzo de 1938, educadora, forjadora de organización y desarrollo en la Educación Superior; fundada el 9 de marzo de 1982 mediante decreto presidencial N° 1.432 del Presidente Luis Herrera Campins.
        </p>

        <div class="row d-flex justify-content-end">
          <div class="col-sm-4 col-lg-9" ></div>
          <div class="col-sm-8 col-lg-3" style="background-color: #426A8C;">
            <p class="m-0 text-white text-right">2014 - 2019</p>
          </div>
        </div>
      </div>

    </div>
  </div>




  <br>

  <br><br>


</div>