<footer class="" id="myFooter">
  <div class="container-fluid py-4 bg-dark">
    <div class="container">
      <div class="row ">
        <div class="col-sm-4 d-none d-sm-block">

          <div class="text-white">

            <h5 class="text-white mt-2 mb-3">Información de contacto</h5>
            <p class="mb-2"><i class="fa fa-phone logo" aria-hidden="true"></i>+58 424 9383599</p>
            <p class="m-0"><i class="fas fa-envelope mr-3" aria-hidden="true"></i>lyonproducer@gmail.com</p>

          </div>

        </div>

        <div class="col-sm-4 d-block d-sm-none">

          <div class="text-white text-center">

            <h5 class="text-white mt-2 mb-3">Información de contacto</h5>
            <p class="mb-2"><i class="fa fa-phone logo" aria-hidden="true"></i>+58 424 9383599</p>
            <p class="m-0"><i class="fas fa-envelope mr-3" aria-hidden="true"></i>lyonproducer@gmail.com</p>

          </div>

          <div class="d-block d-sm-none mt-3 mb-3" style="border-bottom: 3px solid white;"></div>
  
        </div>

      
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
          <img class=" mx-auto mt-2" style="width: 230px;" src="assets/img/lyon_logo.png"
            alt="Lyon Incode Logo">
        </div>

        <div class="col-sm-4 text-right d-none d-sm-block">

          <div class="social-networks mt-2">
            
            <div class="" style="padding-right: 7px;">
              <a href="https://www.instagram.com/lyonproducer/" target="_blank" class="instagram"><i
                  class="fab fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/LyonProducer/" target="_blank" class="facebook"><i
                  class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/djleo1997" target="_blank" class="Twitter"><i class="fab fa-twitter"
                  aria-hidden="true"></i></a>
            </div>
            
            <div class="">
              <a href="https://www.behance.net/hernandezl0d6f" target="_blank" class="behance"><i class="fab fa-behance"
                  aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/lyonproducertv/" target="_blank" class="linked-in"><i
                  class="fab fa-linkedin"></i></a>
              <a href="https://www.youtube.com/channel/UCnndMiq5WblpW4bpB8SM-KA" target="_blank" class="Youtube"><i
                  class="fab fa-youtube" aria-hidden="true"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

  </div>

  <div class="p-2 bg-secondary">
    <p class="ml-3 m-0 text-white text-center">Lyon Incode - Copyright &copy; 2019</p>
  </div>
</footer>
