<div class="container animated fadeIn fast ps-4 pt-4 pe-4">

  <h4 class="title-color">{{ 'SKILLS.BACKEND' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>LARAVEL</p>
          <p>NODE.JS</p>
          <p>NEST.JS</p>
          <p>EXPRESS</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>AWS S3 BUCKETS</p>
          <p>DOCKER</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">{{ 'SKILLS.FRONTEND' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>ANGULAR 2+</p>
          <p>REACT / NEXT.JS</p>
          <p>HTML5</p>
          <p>CSS3</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>JAVASCRIPT</p>
          <p>TYPESCRIPT</p>
          <p>REDUX (NGXS, NGRX)</p>
          <p>TAILWIND CSS</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>BOOTSTRAP</p>
          <p>STORYBOOK</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">{{ 'SKILLS.MOBILE' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>IONIC</p>
          <p>CAPACITOR</p>
          <p>FLUTTER</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>DART</p>
          <p>CORDOVA</p>
          <p>ANDROID STUDIO</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">{{ 'SKILLS.DATABASES' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>POSTGRESQL</p>
          <p>MYSQL</p>
          <p>SQL SERVER</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>MONGODB</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">{{ 'SKILLS.UI_UX' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>ADOBE XD</p>
          <p>FIGMA</p>
          <p>PENPOT</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>BALSAMIQ</p>
          <p>PHOTOSHOP</p>
          <p>ILLUSTRATOR</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">{{ 'SKILLS.SOFTWARE' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2 mb-4">
    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>NOTION</p>
          <p>POSTMAN</p>
          <p>GIT</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">
      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>GOOGLE PLAY CONSOLE</p>
          <p>APP STORE CONNECT</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
