<app-navbar></app-navbar>


<div class="container">


  <div class="row">

    <div class="col-4 p-0">
      <app-cover-profile></app-cover-profile>
    </div>

    <div class="col-8 p-0">

      <div class="banner-color">

        <div class="text-white container text-center p-5">

          <h1 class="display-4">Leonardo Hernández</h1>
          <h5 class="">-   Diseñador Gráfico & Desarrollador Web   -</h5>

        </div>
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>

</div>


<app-footer></app-footer>