<div class="sticky-top">

  <div style="box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.26);">

    <img src="assets/img/perfil_foto.png" width="100%" alt="">

    <div class="p-4 pt-0 text-white" style="background-color: rgb(99, 187, 145);">
      <h4>Información Personal</h4>

      <hr style="background-color: white">
      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">Nacionalidad:</p>
        <p>Venezolana</p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">Cumpleaños:</p>
        <p>3/08/1997</p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">Relación:</p>
        <p>Soltero</p>
      </div>

      <div class="d-flex justify-content-between">
        <p class="font-weight-bold">Idiomas:</p>
        <p>Español, Ingles</p>
      </div>

    </div>
  </div>

  <a href="https://drive.google.com/open?id=1QWLizyztwYGnvG0NcNkPsN3EuvwCAZo4" target="_blank" class="btn mt-3"><i class="fab fa-google-drive mr-2"></i>Ver Curriculum Vitae</a>

</div>