<div class="container animated fadeIn fast pl-4 pt-4 pr-4">

  <h4 class="title-color">Software</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">

      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>PHOTOSHOP CC</p>
          <p>ILLUSTRATOR CC</p>
          <p>ADOBE Xd</p>
          <p>AUDITION</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-sm-12 col-lg-6">

      <div class="row">
        <div class="col col-sm-6 col-lg-6">
          <p>FL STUDIO 20</p>
          <p>CAMTASIA STUDIO</p>
          <p>MICROSOFT OFFICE</p>
        </div>

        <div class="col col-sm-6 col-lg-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="title-color mt-4">Programación</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class="row mt-2">
    <div class="col-sm-12 col-lg-6">

      <h6 class="mb-0 title-color">General</h6>
      <div style="border-bottom: solid 1px #4D8088;"></div>

      <div class="row mt-2">
        <div class="col-6">
          <p>HTML5</p>
          <p>CCS3</p>
          <p>JAVASCRIPT</p>
          <p>JAVA SE</p>
          <p>C</p>
          <p>C++</p>
        </div>

        <div class="col-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">

      <h6 class="mb-0 title-color">Bases de Datos</h6>
      <div style="border-bottom: solid 1px #4D8088;"></div>

      <div class="row mt-2">
        <div class="col-6">
          <p>RELACIONAL</p>
          <br><br><br>
          <p>NO RELACIONAL</p>
        </div>

        <div class="col-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p>- MYSQL</p>
          <p>- POSTGRESQL</p>
          <p>- SQLSERVER</p>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <p>- MONGO</p>
        </div>
      </div>
    </div>
  </div>




  <h6 class="title-color mb-0 mt-4">Extras</h6>
  <div style="border-bottom: solid 1px #4D8088;"></div>

  <div class="row mt-2 mb-4">
    <div class="col-sm-12 col-lg-6">

      <div class="row">
        <div class="col-6">
          <p>LARAVEL</p>
          <p>BOOTSTRAP 4.1</p>

        </div>

        <div class="col-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <div class="row">
        <div class="col-6">
          <p>GIT</p>
          <p>HEROKU</p>
        </div>

        <div class="col-6">
          <div class="progress mt-1">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="progress mt-3">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>