/* You can add global styles to this file, and also import other style files */

@import "~angular-vertical-timeline/dist/vertical-timeline.css";


mgl-timeline .mgl-timeline-line{
  background-color: #4D8088 !important;
}

.nav-link{

  color:#28808D !important;

}


.title-color{

  color:#4D8088;
  
}

.bg-alter{

  background-color: #426A8C !important;
  border-radius: 10px;
  width: 150px;
  height: 5px;
  float:right;
}

mgl-timeline-entry-side {
  /* background-color: #37474f; */
  z-index: -1;
  border-bottom: dotted 1px  #37474f;
}