<div class="p-0 d-none d-block d-sm-none" >
  <app-cover-profile></app-cover-profile>
</div>

<div class="container animated fast fadeIn ps-4 pt-4 pe-4">

  <h4 class="title-color">{{ 'ABOUT_ME.PROFILE' | translate }}</h4>
  <div style="border-bottom: solid 2px #4D8088;"></div>

  <p class="title-color text-justify mt-2">
    {{ 'ABOUT_ME.DESCRIPTION_1' | translate }}
  </p>

  <p class="title-color text-justify">
    {{ 'ABOUT_ME.DESCRIPTION_2' | translate }}
  </p>

  <br>
  <h4 class="title-color">{{ 'ABOUT_ME.EDUCATION' | translate }}</h4>

  <div style="border-bottom: solid 2px #4D8088;"></div>

  <div class=" title-color">
    <div class="card-body d-flex justify-content-start">

      <img class="d-none d-sm-block" src="assets/img/lourdes_logo.jpg" alt="" height="100px">

      <img class="d-block d-sm-none" src="assets/img/lourdes_logo.jpg" alt="" height="50px">

      <div class="ms-3">
        <p class="card-text font-weight-bold">{{ 'ABOUT_ME.HIGH_SCHOOL' | translate }}</p>
        <p>
          {{ 'ABOUT_ME.HIGH_SCHOOL_DESC' | translate }}
        </p>

        <div class="row d-flex justify-content-end">
          <div class="col-sm-4 col-lg-9"></div>
          <div class="col-sm-8 col-lg-3" style="background-color: #426A8C;">
            <p class="m-0 text-white text-right">{{ 'ABOUT_ME.HIGH_SCHOOL_YEARS' | translate }}</p>
          </div>
        </div>
      </div>

    </div>

    <br>
    <br>

    <div class="card-body d-flex justify-content-start">

      <img class="d-none d-sm-block" src="assets/img/uneg.png" alt="" height="100px">
      <img class="d-block d-sm-none" src="assets/img/uneg.png" alt="" height="50px">

      <div class="ms-3">
        <p class="card-text font-weight-bold">{{ 'ABOUT_ME.UNIVERSITY' | translate }}</p>
        <p>{{ 'ABOUT_ME.UNIVERSITY_DESC' | translate }}
        </p>

        <div class="row d-flex justify-content-end">
          <div class="col-sm-4 col-lg-9" ></div>
          <div class="col-sm-8 col-lg-3" style="background-color: #426A8C;">
            <p class="m-0 text-white text-right">{{ 'ABOUT_ME.UNIVERSITY_YEARS' | translate }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>




  <br>

  <br><br>


</div>
